<div id="main-slider-1" class="slider">
	<div>
	<img src="/imagenes/05-cantico-del-descenso/web/01_cantico-del-descenso-I.jpg" />
		<div class="caption"><h6><b>Cántico del descenso I</b> 2014 Textile, rock 76 x 40 x 40 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/05-cantico-del-descenso/web/02_cantico-del-descenso-II.jpg" />
		<div class="caption"><h6><b>Cántico del descenso II</b> 2014 Textile, rock 62 x 27 x 38 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/05-cantico-del-descenso/web/03_cantico-del-descenso-III.jpg" />
		<div class="caption"><h6><b>Cántico del descenso III</b> 2014 Textile, rock 40 x 57 x 48 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/05-cantico-del-descenso/web/04_cantico-del-descenso-IV.jpg" />
		<div class="caption"><h6><b>Cántico del descenso IV</b> 2014 Textile, rock 50 x 50 x 29 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/05-cantico-del-descenso/web/05_cantico-del-descenso-V.jpg" />
		<div class="caption"><h6><b>Cántico del descenso V</b> 2014 Textile, rock 66 x 25 x 25 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/05-cantico-del-descenso/web/06_cantico-del-descenso-VI.jpg" />
		<div class="caption"><h6><b>Cántico del descenso VI</b> 2014 Textile, rock 71 x 55 x 37 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/05-cantico-del-descenso/web/07_cantico-del-descenso-VII.jpg" />
		<div class="caption"><h6><b>Cántico del descenso VII</b> 2014 Textile, rock 69 x 42 x 24 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/05-cantico-del-descenso/web/08_cantico-del-descenso-VIII.jpg" />
		<div class="caption"><h6><b>Cántico del descenso VIII</b> 2014 Textile, rock 18 x 67 x 25 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/05-cantico-del-descenso/web/09_cantico-del-descenso-IX.jpg" />
		<div class="caption"><h6><b>Cántico del descenso IX</b> 2014 Textile, rock 19 x 66 x 28 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/05-cantico-del-descenso/web/10_cantico-del-descenso-X.jpg" />
		<div class="caption"><h6><b>Cántico del descenso X</b> 2014 Textile, rock 70 x 58 x 66 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/05-cantico-del-descenso/web/11_cantico-del-descenso-XI.jpg" />
		<div class="caption"><h6><b>Cántico del descenso XI</b> 2014 Textile, rock 57 x 46 x 32 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/05-cantico-del-descenso/web/12_cantico-del-descenso-XII.jpg" />
		<div class="caption"><h6><b>Cántico del descenso XII</b> 2014 Textile, rock 50 x 56 x 53 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/05-cantico-del-descenso/web/13_cantico-del-descenso-I-V.jpg" />
		<div class="caption"><h6><b>Cántico del descenso I-V</b> 2014 Textile, rock Dimensiones variable</h6></div>
	</div>
	<div>
		<img src="/imagenes/05-cantico-del-descenso/web/14_cantico-del-descenso-VI-XII.jpg" />
		<div class="caption"><h6><b>Cántico del descenso VI-XII</b> 2014 Textile, rock Dimensions variable</h6></div>
	</div>
</div>

<div class="slider-controls" data-slider="main-slider-1">
	<a data-slider-action="previous"><i class="fa fa-angle-left"></i></a>
	<a data-slider-action="next"><i class="fa fa-angle-right"></i></a>
</div>

<p>Hybrid forms composed of textiles woven in a prehispanic traditional technique that are inlaid in limestone rock, which is characteristic of our country, mainly employed for constructing monuments during the colonial period. As pennants, these textiles lie on stones as clefts of breath, as implants of glory that insinuate silent hymns, floating histories: the utopia of a Mestizo flag.</p>



