<div id="main-slider-1" class="slider">
	<div>
		<img src="/imagenes/06-columnas-invisibles/web/01_columnas-invisibles.jpg" />
		<div class="caption"><h6><h6><b>Columnas invisibles</b>, 2014. Identification of energy flows in the exhibition space from which the work of the participating artists was distributed in the space. In collaboration with dowsing expert Architect Antonio Azori. Variable dimensions.</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/06-columnas-invisibles/web/02_columnas-invisibles.jpg" />
		<div class="caption"><h6><h6><b>Columnas invisibles</b>, 2014. Identification of energy flows in the exhibition space from which the work of the participating artists was distributed in the space. In collaboration with dowsing expert Architect Antonio Azori. Variable dimensions.</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/06-columnas-invisibles/web/03_columnas-invisibles.jpg" />
		<div class="caption"><h6><h6><b>Columnas invisibles</b>, 2014. Identification of energy flows in the exhibition space from which the work of the participating artists was distributed in the space. In collaboration with dowsing expert Architect Antonio Azori. Variable dimensions.</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/06-columnas-invisibles/web/04_columnas-invisibles.jpg" />
		<div class="caption"><h6><h6><b>Columnas invisibles</b>, 2014. Identification of energy flows in the exhibition space from which the work of the participating artists was distributed in the space. In collaboration with dowsing expert Architect Antonio Azori. Variable dimensions.</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/06-columnas-invisibles/web/05_columnas-invisibles.jpg" />
		<div class="caption"><h6><h6><b>Columnas invisibles</b>, 2014. Identification of energy flows in the exhibition space from which the work of the participating artists was distributed in the space. In collaboration with dowsing expert Architect Antonio Azori. Variable dimensions.</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/06-columnas-invisibles/web/06_columnas-invisibles.jpg" />
		<div class="caption"><h6><h6><b>Columnas invisibles</b>, 2014. Identification of energy flows in the exhibition space from which the work of the participating artists was distributed in the space. In collaboration with dowsing expert Architect Antonio Azori. Variable dimensions.</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/06-columnas-invisibles/web/07_columnas-invisibles.jpg" />
		<div class="caption"><h6><h6><b>Columnas invisibles</b>, 2014. Identification of energy flows in the exhibition space from which the work of the participating artists was distributed in the space. In collaboration with dowsing expert Architect Antonio Azori. Variable dimensions.</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/06-columnas-invisibles/web/08_columnas-invisibles.jpg" />
		<div class="caption"><h6><h6><b>Columnas invisibles</b>, 2014. Identification of energy flows in the exhibition space from which the work of the participating artists was distributed in the space. In collaboration with dowsing expert Architect Antonio Azori. Variable dimensions.</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/06-columnas-invisibles/web/09_columnas-invisibles.jpg" />
		<div class="caption"><h6><h6><b>Columnas invisibles</b>, 2014. Identification of energy flows in the exhibition space from which the work of the participating artists was distributed in the space. In collaboration with dowsing expert Architect Antonio Azori. Variable dimensions.</h6></h6></div>
	</div>
</div>


<div class="slider-controls" data-slider="main-slider-1">
	<a data-slider-action="previous"><i class="fa fa-angle-left"></i></a>
	<a data-slider-action="next"><i class="fa fa-angle-right"></i></a>
</div>


<p>The artist invited a dowsing specialist, Architect Antonio Azori, who prior to the inauguration attended the exhibition space to sense, measure, map and indicate the energies ranging the location. Specific zones, where energy flows cross, vertically project invisible pillars upwards. These patterns functioned as guidelines on which the curator located the works of the other participating artists throughout the exhibition space. Although the work of Gutierrez itself could not be seen, it could be perceived through the distribution of the artworks that conform the exhibition.</p>





