<div id="main-slider-1" class="slider">
	<div>
		<img src="/imagenes/03-constelaciones-mentales/web/01_constelaciones-mentales.jpg" />
		<div class="caption"><h6><b>Constelaciones mentales de una liebre muerta</b> 2014 nails on wall 67.3 x 173.2 x 2.3 cm Photograph: Fanny Trichet</h6></div>
	</div>
	<div>
		<img src="/imagenes/03-constelaciones-mentales/web/02_constelaciones-mentales.jpg" />
		<div class="caption"><h6><b>Constelaciones mentales de una liebre muerta</b> 2014 nails on wall 67.3 x 173.2 x 2.3 cm Photograph: Fanny Trichet</h6></div>
	</div>
	<div>
		<img src="/imagenes/03-constelaciones-mentales/web/03_collection-inventory.jpg" />
		<div class="caption"><h6>Collection inventory - Frac des Pays de la Loire – wall pieces not shown since acquisition. 2015 Inkjet print on cotton paper 21.59 x 55.88 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/03-constelaciones-mentales/web/04_998032101.jpg" />
		<div class="caption"><h6><b>998032101</b> 2015 Inkjet print on cotton paper 21.59 x 55.88 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/03-constelaciones-mentales/web/05_009012504-(1-4).jpg" />
		<div class="caption"><h6><b>009012504</b> (1-4) 2015 Inkjet print on cotton paper 21.59 x 55.88 cm</h6></div>
	</div>
</div>

<div class="slider-controls" data-slider="main-slider-1">
	<a data-slider-action="previous"><i class="fa fa-angle-left"></i></a>
	<a data-slider-action="next"><i class="fa fa-angle-right"></i></a>
</div>

<p>27 two-dimensional works from the Frac des Pays de la Loire Collection that had not been exhibited since their acquisition, were withdrawn from the warehouse and brought to the exhibition gallery space to be, one by one, hung from the same wall, one after the another, on the same axis. The only remnants of this action were the nails of various sizes that were used to hang the artworks from the wall, forming a sort of symmetrical constellation where the viewer can generate imaginary lines.</p>






