<div class="header-fixed">
	<p>gtz.cynthia@gmail.com</p>
</div>

<div class="padding-top">
	<p>
	PROYECTO PARALELO<br>
	Alfonso Reyes 58<br>
	Col. Condesa<br>
	Mexico City 06170<br>
	Mexico<br>
	T. +52 55 52860046<br>
	info@proyectoparalelo.mx<br>
	<a href="http://proyectoparalelo.mx/contact/">proyectoparalelo.mx</a>
	</p>
</div>

<div class="footer">
 <a class="advert" target="Alecamp." href="http://alecamp.mx/"><h1>Hecho por Ale</h1><h2>camp</h2></a>
</div>