<div id="main-slider-1" class="slider">
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/01_horizonte-roto.jpg" />
		<div class="caption"><h6><b>Horizonte roto</b> 2014 plaster, paint, iron structure Dimensions variable Photograph: ©LakeVerea</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/02_horizonte-roto.jpg" />
		<div class="caption"><h6><b>Horizonte roto</b> 2014 plaster, paint, iron structure Dimensions variable Photograph: ©LakeVerea</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/03_horizonte-roto.jpg" />
		<div class="caption"><h6><b>Horizonte roto</b> 2014 plaster, paint, iron structure Dimensions variable Photograph: ©LakeVerea</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/04_ecos-de-un-imperio-I.jpg" />
		<div class="caption"><h6><b>Ecos de un imperio I</b> 2014 Fragments of the text “La caída del águila” by Carlos Gagini removed from drywall Dimensions variable 78 x 58 cm each</h6></div>
	</div>	
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/05_ecos-de-un-imperio-II.jpg" />
		<div class="caption"><h6><b>Ecos de un imperio II</b> 2014 Fragments of the text “La caída del águila” by Carlos Gagini removed from drywall Dimensions variable 78 x 58 cm each</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/06_ecos-de-un-imperio-III.jpg" />
		<div class="caption"><h6><b>Ecos de un imperio III</b> 2014 Fragments of the text “La caída del águila” by Carlos Gagini removed from drywall Dimensions variable 78 x 58 cm each</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/07_el-fracaso-de-la-libertad.jpg" />
		<div class="caption"><h6><b>El fracaso de la libertad</b> 2014 bronze 57 x 78 x 51 cm Photograph: ©LakeVerea</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/08_el-fracaso-de-la-libertad.jpg" />
		<div class="caption"><h6><b>El fracaso de la libertad</b> 2014 bronze 57 x 78 x 51 cm Photograph: ©LakeVerea</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/09_recuerdo-monumental.jpg" />
		<div class="caption"><h6><b>Recuerdo monumental</b> 2014 bronze 43 x 123 x 77 cm Photograph: ©LakeVerea</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/10_sombra-de-libertad.jpg" />
		<div class="caption"><h6><b>Sombra de libertad</b> 2014 bronze 15 x 143 x 72 cm Photograph: ©LakeVerea</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/11_estela-de-memoria-I.jpg" />
		<div class="caption"><h6><b>Estela de memoria I</b> 2014 Album sheet 33 x 37.5 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/12_estela-de-memoria-II.jpg" />
		<div class="caption"><h6><b>Estela de memoria II</b> 2014 Album sheet 33 x 37.5 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/13_estela-de-memoria-III.jpg" />
		<div class="caption"><h6><b>Estela de memoria III</b> 2014 Album sheet 33 x 37.5 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/14_estela-de-memoria-IV.jpg" />
		<div class="caption"><h6><b>Estela de memoria IV</b> 2014 Album sheet 33 x 37.5 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/15_estela-de-memoria-V.jpg" />
		<div class="caption"><h6><b>Estela de memoria V</b> 2014 Album sheet 33 x 37.5 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/16_estela-de-memoria-VI.jpg" />
		<div class="caption"><h6><b>Estela de memoria VI</b> 2014 Album sheet 33 x 37.5 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/17_puntales-rotos.jpg" />
		<div class="caption"><h6><b>Puntales rotos</b> 2014 Book cut-outs 33 x 24 x 4.7 cm each</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/18_hoy-nos-sucedio-a-nosotros.jpg" />
		<div class="caption"><h6><b>Hoy nos sucedió a nosotros. A ustedes mañana.</b> 2014 Fiberglass, paint, wooden plinth 197 x 75 x 80 cm Photograph: ©LakeVerea</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/19_hoy-nos-sucedio-a-nosotros.jpg" />
		<div class="caption"><h6><b>Hoy nos sucedió a nosotros. A ustedes mañana.</b> 2014 Fiberglass, paint, wooden plinth 197 x 75 x 80 cm Photograph: ©LakeVerea</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/20_duelo-eterno.jpg" />
		<div class="caption"><h6><b>Duelo eterno</b> 2014 Oil on wood Execution in collaboration with Humberto Ramírez 60 x 80 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/21_arte-plumario.jpg" />
		<div class="caption"><h6><b>Arte Plumario</b> 2014 Ink on paper, water drops 43.3 x 35.5 x 4.7 cm each</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/22_aclamacion-y-despedida.jpg" />
		<div class="caption"><h6><b>Aclamación y despedida</b> 2014 Ink on paper, water drops 43.3 x 35.5 x 4.7 cm each</h6></div>
	</div>
	<div>
		<img src="/imagenes/07-coreografia-del-colapso/web/23_el-perecer-de-la-tragedia.jpg" />
		<div class="caption"><h6><b>El perecer de la tragedia</b> 2014 Fiberglass, paint, strings Dimensions variable Photograph: ©LakeVerea</h6></div>
	</div>	
	<div>	
		<img src="/imagenes/07-coreografia-del-colapso/web/24_vista-coreografia-del-colapso.jpg" />
		<div class="caption"><h6>Coreografía del colapso, 2014, exhibition view at Proyecto Paralelo, Mexico City.</h6></div>
	</div>
	<div>	
		<img src="/imagenes/07-coreografia-del-colapso/web/25_vista-coreografia-del-colapso.jpg" />
		<div class="caption"><h6>Coreografía del colapso, 2014, exhibition view at Proyecto Paralelo, Mexico City.</h6></div>
	</div>
	<div>	
		<img src="/imagenes/07-coreografia-del-colapso/web/26_vista-coreografia-del-colapso.jpg" />
		<div class="caption"><h6>Coreografía del colapso, 2014, exhibition view at Proyecto Paralelo, Mexico City.</h6></div>
	</div>
	<div>	
		<img src="/imagenes/07-coreografia-del-colapso/web/27_vista-coreografia-del-colapso.jpg" />
		<div class="caption"><h6>Coreografía del colapso, 2014, exhibition view at Proyecto Paralelo, Mexico City.</h6></div>
	</div>
	<div>	
		<img src="/imagenes/07-coreografia-del-colapso/web/28_vista-coreografia-del-colapso.jpg" />
		<div class="caption"><h6>Coreografía del colapso, 2014, exhibition view at Proyecto Paralelo, Mexico City.</h6></div>
	</div>
	<div>	
		<img src="/imagenes/07-coreografia-del-colapso/web/29_vista-coreografia-del-colapso.jpg" />
		<div class="caption"><h6>Coreografía del colapso, 2014, exhibition view at Proyecto Paralelo, Mexico City.</h6></div>
	</div>
	<div>	
		<img src="/imagenes/07-coreografia-del-colapso/web/30_vista-coreografia-del-colapso.jpg" />
		<div class="caption"><h6>Coreografía del colapso, 2014, exhibition view at Proyecto Paralelo, Mexico City.</h6></div>
	</div>
	<div>	
		<img src="/imagenes/07-coreografia-del-colapso/web/31_vista-coreografia-del-colapso.jpg" />
		<div class="caption"><h6>Coreografía del colapso, 2014, exhibition view at Proyecto Paralelo, Mexico City.</h6></div>
	</div>
</div>

<div class="slider-controls" data-slider="main-slider-1">
	<a data-slider-action="previous"><i class="fa fa-angle-left"></i></a>
	<a data-slider-action="next"><i class="fa fa-angle-right"></i></a>
</div>

<p>There is an important extent of oblivion implied in every form of memory as far as we are unable to remember anything whole and perfectly. In this sense memory and forgetfulness are reciprocal. Nevertheless, this observation eludes something that’s more relevant: oblivion is in fact the component that memory is made out of. Thus it is this inconsistent memory that connects us to the past, endowing us with our identity and leading to the construction of present history; it is what allows us to have a historical awareness capable of breaking the cyclical movement that takes us nowhere. Unilateral history pales when alternate representations are built that open up into unparalleled thoughts, other realities and life models. Memories are at play; they are being consumed. Faceless historical characters are being extinguished. History is dismembered and its ashes recovered to be incorporated into personal experience and reach a more aproximate idea of human existence. Through research, analysis and reflection upon current situations of conflict, symbols, historical landmarks, ideological clashes and mass manipulation, metaphors and representations are created that approach a common problematic: the representation of the past and the way in which we build, through a distorted image, the present and our projection into the future.</p>






