<div id="main-slider-1" class="slider">
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/01_engineer-tadele-bitul-kibrat.jpg" />
		<div class="caption"><h6><b>Engineer Tadele Bitul Kibrat</b> 2012 oil on Wood execution in collaboration with Humberto Ramírez 18 x 30 cm</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/02_phantom.jpg" />
		<div class="caption"><h6><b>Phantom</b> 2012 intervention on photograph by Ondřej Žváček 72.8 x 58.7 cm Photograph: Yolanda Zaragoza Cano</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/03_gloria-olvidada.jpg" />
		<div class="caption"><h6><b>Gloria olvidada</b> 2012 bleached fabric, brass 90 x 110 cm each Photograph: Yolanda Zaragoza Cano</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/04_partial-death.jpg" />
		<div class="caption"><h6><b>Partial Death</b> 2012 Gobelin tapestry 210 x 273 cm Photograph: Carlos Díaz Corona</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/05_dialogo-entre-naciones.jpg" />
		<div class="caption"><h6><b>Diálogo entre naciones</b> 2012 marble, wood 173 x 60 x 56 cm each Photograph: Marcos García</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/06_dialogo-entre-naciones.jpg" />
		<div class="caption"><h6><b>Diálogo entre naciones</b> 2012 marble, wood 173 x 60 x 56 cm each Photograph: Hugo Martínez</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/07_dialogo-entre-naciones.jpg" />
		<div class="caption"><h6><b>Diálogo entre naciones</b> 2012 marble, wood 173 x 60 x 56 cm each Photograph: Hugo Martínez</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/08_obelisco-migrante.jpg" />
		<div class="caption"><h6><b>Obelisco Migrante</b> 2012 bronze 8.5 x 1.2 x 1 cm Photograph: Yolanda Zaragoza Cano</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/09_tracking-history.jpg" />
		<div class="caption"><h6><b>Tracking History</b> 2012 Piezography prints, coin, post stamps, map Dimensiones variables</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/10_tracking-history.jpg" />
		<div class="caption"><h6><b>Tracking History</b> 2012 piezography print 20.5 x 23.1 cm Photograph: Yolanda Zaragoza Cano</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/11_out-there.jpg" />
		<div class="caption"><h6><b>Out there</b> 2012 Abyssinia map 34.5 x 29.5 cm Photograph: Yolanda Zaragoza Cano</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/12_el-ultimo-imperio.jpg" />
		<div class="caption"><h6><b>El último imperio</b> 2012 post stamps, copper coin 23.7 x 35.6 cm Photograph: Yolanda Zaragoza Cano</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/13_broken.jpg" />
		<div class="caption"><h6><b>Broken</b> 2012 Return of the Axum Obelisk post stamp 34.5 x 29.5 cm Photograph: Yolanda Zaragoza Cano</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/14_misplaced.jpg" />
		<div class="caption"><h6><b>Misplaced</b> 2012 Return of the Axum Obelisk post stamp 34.5 x 29.5 cm Photograph: Yolanda Zaragoza Cano</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/15_almost-back-home.jpg" />
		<div class="caption"><h6><b>Almost back home</b> 2012 Return of the Axum Obelisk post stamp 34.5 x 29.5 cm Photograph: Yolanda Zaragoza Cano</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/16_italian-soldiers-in-abyssinia.jpg" />
		<div class="caption"><h6><b>Italian Soldiers in Abyssinia</b> 2012 piezography print 33.4 x 41.5 cm Photograph: Yolanda Zaragoza Cano</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/17_topics-of-the-day-abroad.jpg" />
		<div class="caption"><h6><b>Topics of the day abroad</b> 2012 piezoelectric print 31.5 x 41.5 cm Photograph: Yolanda Zaragoza Cano</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/18_foreign-affairs.jpg" />
		<div class="caption"><h6><b>Foreign affairs</b> 2012 piezoelectric print 31.5 x 41.5 cm Photograph: Yolanda Zaragoza Cano</h6></div>
	</div>
	<div>
		<img src="/imagenes/09-el-fracaso-de-la-memoria/web/19_the-world-turns-its-eyes-on-ethiopia.jpg" />
		<div class="caption"><h6><b>The world turns its eyes on Ethiopia</b> 2012 piezoelectric print 31.5 x 41.5 cm Photograph: Yolanda Zaragoza Cano</h6></div>
	</div>
	<div>
		<iframe src="https://player.vimeo.com/video/63285738?loop=1&title=0&byline=0&portrait=0" width="100%" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<div class="caption"><h6><b>Banderas</b> 2012 color video 18” loop</h6></div>
	</div>
</div>

<div class="slider-controls" data-slider="main-slider-1">
	<a data-slider-action="previous"><i class="fa fa-angle-left"></i></a>
	<a data-slider-action="next"><i class="fa fa-angle-right"></i></a>
</div>

<p>In a chance encounter in Rome, 2002, the artist met Ethiopian Engineer Tadele Bitul Kibrat and wrote down a few notes about their brief conversation. Ten years after, she found out that he was part of the committee in charge of returning and re-erecting the Obelisk of Axum, an ancient artifact built in the 4th century that was taken to Italy by Fascist troops in 1937, where it stood for almost 70 years. After many difficulties and negotiations it was finally returned to Axum in 2008.</p>






