<div id="main-slider-1" class="slider">
	<div>
		<img src="/imagenes/11-line-out/web/01_line-out.jpg" />
		<div class="caption"><h6><b>Line out,</b> 2010. yarn, perforated glass dimensions variable Photograph: Omar Chuil.</h6></div>
	</div>
	<div>
		<img src="/imagenes/11-line-out/web/02_line-out.jpg" />
		<div class="caption"><h6><b>Line out,</b> 2010. yarn, perforated glass dimensions variable Photograph: Omar Chuil.</h6></div>
	</div>
	<div>
		<img src="/imagenes/11-line-out/web/03_line-out.jpg" />
		<div class="caption"><h6><b>Line out,</b> 2010. yarn, perforated glass dimensions variable Photograph: Omar Chuil.</h6></div>
	</div>
	<div>
		<img src="/imagenes/11-line-out/web/04_line-out.jpg" />
		<div class="caption"><h6><b>Line out,</b> 2010. yarn, perforated glass dimensions variable Photograph: Omar Chuil.</h6></div>
	</div>
	<div>
		<img src="/imagenes/11-line-out/web/05_line-out.jpg" />
		<div class="caption"><h6><b>Line out,</b> 2010. yarn, perforated glass dimensions variable.</h6></div>
	</div>
	<div>
		<img src="/imagenes/11-line-out/web/06_line-out.jpg" />
		<div class="caption"><h6><b>Line out,</b> 2010. yarn, perforated glass dimensions variable.</h6></div>
	</div>
	<div>
		<img src="/imagenes/11-line-out/web/07_line-out.jpg" />
		<div class="caption"><h6><b>Line out,</b> 2010. yarn, perforated glass dimensions variable.</h6></div>
	</div>
	<div>
		<img src="/imagenes/11-line-out/web/08_line-out.jpg" />
		<div class="caption"><h6><b>Line out,</b> 2010. yarn, perforated glass dimensions variable.</h6></div>
	</div>

<div class="slider-controls" data-slider="main-slider-1">
	<a data-slider-action="previous"><i class="fa fa-angle-left"></i></a>
	<a data-slider-action="next"><i class="fa fa-angle-right"></i></a>
</div>
<p>A light pink crochet blanket, lied on the floor of a showcase. From one of its ends, the yarn unstitched and crossed the glass through a very small hole towards the outside. With this subtle intervention, the barrier that limited the spectator was broken, allowing a direct dialogue and interaction where people could pull out the yarn. At the time people became part of the piece, the object disintegrated. The warmth of the blanket could not be transported to the exterior and, for this reason, it acquired a new form that ended up invading the streets and sidewalks that surrounded it, generating constant tension with the people passing by.</p>



