<div id="main-slider-1" class="slider">
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/01_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/02_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/03_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/04_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/05_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/06_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/07_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/08_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/09_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/10_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/11_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/12_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/13_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/14_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/15_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/16_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
	<div>
		<img src="/imagenes/08-marcha-de-sombras/web/17_marcha-de-sombras.jpg" />
		<div class="caption"><h6><h6><b>Marcha de las sombras</b> 2013 Hollow space hidden in wall 60 x 85 x 16 cm Photograph: Hugo Martínez</h6></h6></div>
	</div>
</div>

<div class="slider-controls" data-slider="main-slider-1">
	<a data-slider-action="previous"><i class="fa fa-angle-left"></i></a>
	<a data-slider-action="next"><i class="fa fa-angle-right"></i></a>
</div>
<p>Hole undermined in the wall of a gallery, which was then coated without filling the empty space, remaining practically imperceptible. This hidden hole hosted in the wall is unnoticed by the viewer in the same way that tragedies are cloistered in a memory clouded by the dust of time. Contained in the shadows are damages, losses, raw scenes, smothered voices, multiple enclosed stories. However, they still exist, persist, in an endless duel against oblivion.</p>