<div id="main-slider-1" class="slider">
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/01_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval,</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m Photograph: Yolanda Zaragoza Cano.</h6></div>
	</div>
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/02_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval,</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m Photograph: Yolanda Zaragoza Cano.</h6></div>
	</div>
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/03_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval,</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m Photograph: Yolanda Zaragoza Cano.</h6></div>
	</div>
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/04_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval,</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m Photograph: Yolanda Zaragoza Cano.</h6></div>
	</div>
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/05_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval,</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m Photograph: Yolanda Zaragoza Cano.</h6></div>
	</div>
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/06_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval,</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m Photograph: Yolanda Zaragoza Cano.</h6></div>
	</div>
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/07_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval,</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m Photograph: Yolanda Zaragoza Cano.</h6></div>
	</div>
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/08_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval,</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m Photograph: Yolanda Zaragoza Cano.</h6></div>
	</div>
	
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/09_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval,</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m Photograph: Marcos García.</h6></div>
	</div>
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/10_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval,</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m Photograph: Marcos García.</h6></div>
	</div>
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/11_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval,</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m Photograph: Marcos García.</h6></div>
	</div>
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/12_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval,</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m Photograph: Marcos García.</h6></div>
	</div>
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/13_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval,</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m Photograph: Marcos García.</h6></div>
	</div>

	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/14_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval,</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m Photograph: Marcos García.</h6></div>
	</div>
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/15_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval,</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m Photograph: Marcos García.</h6></div>
	</div>
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/16_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m. Photograph: Yolanda Zaragoza Cano.</h6></div>
	</div>
	<div>
		<img src="/imagenes/10-notas-de-carnaval/web/17_notas-de-carnaval.jpg" />
		<div class="caption"><h6><b>Notas de carnaval</b> 2011. Wood, rope, pulley, jute sacks, and coconuts. 3.17 x 1.60 x 15 m. Photograph: Yolanda Zaragoza Cano.</h6></div>
	</div>
</div>

<div class="slider-controls" data-slider="main-slider-1">
	<a data-slider-action="previous"><i class="fa fa-angle-left"></i></a>
	<a data-slider-action="next"><i class="fa fa-angle-right"></i></a>
</div>

<p>A simple mechanism composed of a wooden recipient, a rope and pulley, through which the visitor drops a coconut to roll down an inclined wooden platform. The coconut follows the path towards an abrupt end and falls to the ground floor, at the entrance of the museum, emitting a loud sound while hitting the floor, finally fracturing and expelling its liquid. Because of its round, irregular shape and brown coating fiber, a coconut resembles a human head. Thus, when people activate the piece, they become perpetrators and accomplices, and the line of coconuts becomes a row of decapitated heads tumbling down, one after another, towards their end (or beginning). As musical notes, they stumble through a wooden pentagram, fall down to the ground and transmute, creating an uncertain melody: the music of a tragic carnival, the anthem of chaos.</p>




