
	<div id="main-slider-1" class="slider">
	    <div>
	    	<img src="/imagenes/02-rituales-silenciosos/web/01_rituales-silenciosos.jpg" />
	        <div class="caption"><h6><b>Rituales silenciosos</b>, 2014. Acrylic resin, paint, wax. Dimensions variable. Photograph: Fanny Trichet</h6></div>
	    </div>
	    <div>
	    	<img src="/imagenes/02-rituales-silenciosos/web/02_rituales-silenciosos.jpg" />
	        <div class="caption"><h6><b>Rituales silenciosos</b>, 2014. Acrylic resin, paint, wax. Dimensions variable. Photograph: Fanny Trichet</h6></div>
	    </div>
	    <div>
	    	<img src="/imagenes/02-rituales-silenciosos/web/03_rituales-silenciosos.jpg" />
	        <div class="caption"><h6><b>Rituales silenciosos</b>, 2014. Acrylic resin, paint, wax. Dimensions variable. Photograph: Fanny Trichet</h6></div>
	    </div>
	    <div>
	    	<img src="/imagenes/02-rituales-silenciosos/web/04_rituales-silenciosos.jpg" />
	        <div class="caption"><h6><b>Rituales silenciosos</b>, 2014. Acrylic resin, paint, wax. Dimensions variable. Photograph: Fanny Trichet</h6></div>
	    </div>
		<div>
			<img src="/imagenes/02-rituales-silenciosos/web/05_Collection-inventory.jpg" />
			<div class="caption"><h6>Collection inventory - Frac des Pays de la Loire - sculptures not shown since acquisition, 2015. Inkjet print on cotton paper 21.59 x 29.94 cm</h6></div>
		</div>
		<div>
			<img src="/imagenes/02-rituales-silenciosos/web/06_999041601.jpg" />
			<div class="caption"><h6><b>999041601,</b> 2015. Inkjet print on cotton paper 21.59 x 55.88 cm</h6></div>
		</div>
		<div>
			<img src="/imagenes/02-rituales-silenciosos/web/07_014042001.jpg" />
			<div class="caption"><h6><b>014042001,</b> 2015. Inkjet print on cotton paper 21.59 x 55.88 cm</h6></div>
		</div>
	</div>
	<div class="slider-controls" data-slider="main-slider-1">
		<a data-slider-action="previous"><i class="fa fa-angle-left"></i></a>
		<a data-slider-action="next"><i class="fa fa-angle-right"></i></a>
	</div>
	<p>Developed during the residency at the Frac des Pays de la Loire, this work consists of a group of white gloves stacked on the floor of the exhibition space. Prior to the opening, the artist made research on which sculptural works from the collection had not been shown to the public since their acquisition. Along with the Frac team, the works were located in the storage area, brought to the gallery space, unpacked and installed, one by one, in the empty room for a few moments, then repacked and returned to their location in the storage space. The gloves that were used to handle the pieces in this action were molded and replicated in resin to become sculptures as the only evidence of this process. Somehow, the direct contact with the artworks in this activity that was not visible to the public was in some way recorded and contained by these garments as a metaphor of this silent confrontation..</p>
