El pasado es aquello que recuerdo (The past is what I remember)
Paulo Gutiérrez

<p>An unexpected find or the skill to identify a discovery is commonly known as serendipity, casualty or coincidence. This is how Cynthia Gutiérrez has discovered the coming and going history of a funerary stele, which –in the 30s- served as a war souvenir when Italy invaded Ethiopia.</p>

<p>Oblivion affected the international agreement that stipulated the return of the obelisk to Aksum, its original site, holding it in Rome for sixty-eight years. Moreover, oblivion did the same with the fortuitous meeting of Gutiérrez and Tadele Bitul Kibret, an engineer from Ethiopia’s culture ministry, who was responsible for returning the first part of the obelisk in 2005.</p>

<p>The memory of this encounter came up when the artist found several traces, from which she involved herself without any hesitations, underpinning an essay about memory –or oblivion- evoking this historic event through a piezography print.</p>

<p>This exhibit is a part of the project El fracaso de la memoria (The failiure of Memory), which reflects upon the past operating in the present, with the implications that the erosion of time could have when reconstructing yesterday. Meaning is unambiguous when questioning the “uniqueness” of History.</p>

<p>In El fracaso de la memoria, the funerary stele works as an emblem of object deterritorialization, like the photograph of the obelisk that is torn in order to declare its own absence. According to Jean Baudrillard1, under what he understands as cultural neoimperialism, a culture is submitted through the domestication of antique objects; essentially sacred, but desacralized, which are required to suggest their sacredness (or historiality) in the present, within a domesticity without history.</p>

<p>Thus, the antique object is purely mythological when referring the past, and exists just to signify. However, it is not functionless neither transformed into plain ornamentation; it plays now a specific role under other nation’s eyes: to signify time, not real time but its cultural sign of its passing through. That is why Gutiérrez comes up with keen replicas of the obelisk as key chains: the traveler’s portable History.</p>

<p>In that order, it is decisive to reflect upon the sculptures of Mussolini and Selassie, whose depiction does not tell the common place of winners and losers, but, as Gutiérrez sees them, they reveal a silenced self under a blurring veil. The dialogue between nations is not now something other than oblivion that falls as a curtain above personal identity.</p>

<p>With no desire to document, Cynthia Gutiérrez records to save us (save herself?) from horror vacui, which leads her to inquire into archives and the Internet, recovering the remains of her meeting with the engineer and to baste through postcards, flags, maps, coins, photographs and videos, a work that forces the past to become present.</p>


<p>April 2012</p>

<h6>1. Baudrillard, Jean (2004) El sistema de los objetos. Siglo XXI Editores. Mexico City.</h6>