<div id="main-slider-1" class="slider">
	<div>
		<img src="/imagenes/01-vals-del-abismo/web/01_vals-del-abismo.jpg" />
		<div class="caption"><h6><b>	Vals del abismo</b>, 2016. Fiberglass, paint, wood, graphite text on wall, and photocopies. Dimensions variable. Photograph: Matthew Vicari. Courtesy of The Elizabeth Foundation for the Arts.</h6></div>
	</div>
	<div>
		<img src="/imagenes/01-vals-del-abismo/web/02_vals-del-abismo.jpg" />
		<div class="caption"><h6><b>	Vals del abismo</b>, 2016. Fiberglass, paint, wood, graphite text on wall, and photocopies. Dimensions variable. Photograph: Matthew Vicari. Courtesy of The Elizabeth Foundation for the Arts.</h6></div>
	</div>
	<div>
		<img src="/imagenes/01-vals-del-abismo/web/03_vals-del-abismo.jpg" />
		<div class="caption"><h6><b>	Vals del abismo</b>, 2016. Fiberglass, paint, wood, graphite text on wall, and photocopies. Dimensions variable. Photograph: Matthew Vicari. Courtesy of The Elizabeth Foundation for the Arts.</h6></div>
	</div>
	<div>
		<img src="/imagenes/01-vals-del-abismo/web/04_vals-del-abismo.jpg" />
		<div class="caption"><h6><b>	Vals del abismo</b>, 2016. Fiberglass, paint, wood, graphite text on wall, and photocopies. Dimensions variable. Photograph: Matthew Vicari. Courtesy of The Elizabeth Foundation for the Arts.</h6></div>
	</div>
	<div>
		<img src="/imagenes/01-vals-del-abismo/web/05_vals-del-abismo.jpg" />
		<div class="caption"><h6><b>	Vals del abismo</b>, 2016. Fiberglass, paint, wood, graphite text on wall, and photocopies. Dimensions variable. Photograph: Matthew Vicari. Courtesy of The Elizabeth Foundation for the Arts.</h6></div>
	</div>
	<div>
		<img src="/imagenes/01-vals-del-abismo/web/06_vals-del-abismo.jpg" />
		<div class="caption"><h6><b>	Vals del abismo</b>, 2016. Fiberglass, paint, wood, graphite text on wall, and photocopies. Dimensions variable. Photograph: Matthew Vicari. Courtesy of The Elizabeth Foundation for the Arts.</h6></div>
	</div>
	<div>
		<img src="/imagenes/01-vals-del-abismo/web/07_vals-del-abismo.jpg" />
		<div class="caption"><h6><b>	Vals del abismo</b>, 2016. Fiberglass, paint, wood, graphite text on wall, and photocopies. Dimensions variable. Photograph: Matthew Vicari. Courtesy of The Elizabeth Foundation for the Arts.</h6></div>
	</div>
	<div>
		<img src="/imagenes/01-vals-del-abismo/web/08_vals-del-abismo.jpg" />
		<div class="caption"><h6><b>	Vals del abismo</b>, 2016. Fiberglass, paint, wood, graphite text on wall, and photocopies. Dimensions variable. Photograph: Matthew Vicari. Courtesy of The Elizabeth Foundation for the Arts.</h6></div>
	</div>
	<div>
		<img src="/imagenes/01-vals-del-abismo/web/09_vals-del-abismo.jpg" />
		<div class="caption"><h6><b>	Vals del abismo</b>, 2016. Fiberglass, paint, wood, graphite text on wall, and photocopies. Dimensions variable. Photograph: Matthew Vicari. Courtesy of The Elizabeth Foundation for the Arts.</h6></div>
	</div>
</div>

<div class="slider-controls" data-slider="main-slider-1">
	<a data-slider-action="previous"><i class="fa fa-angle-left"></i></a>
	<a data-slider-action="next"><i class="fa fa-angle-right"></i></a>
</div>


<p></p>
