header {
	padding-top: 20px;
	padding-bottom: 30px;
	 h1 + h2 {
	 	line-height: 50px;
	 }
}

.header-fixed {
	position: fixed;
	background-color: white;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
}