.text {
	width: 90%;
}

.index {
	margin-top: 10px;
	background-color: white;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-right: 4px;
	position: fixed;
}

#text-paulo-gutierrez {
	padding-top: 115px;
}

#text-eduardo-abaroa {
	padding-top: 115px;
}

#text-yuri-herrera {
	padding-top: 115px;
}
#text-lorena-pena {
	padding-top: 115px;
}